/* line 8, ../scss/_index.scss */
.clear {
  clear: both;
}

/*----menu-top----*/
/* line 14, ../scss/_index.scss */
.index-menu-top {
  background: #000;
}
/* line 18, ../scss/_index.scss */
.index-menu-top .index-nav {
  padding-top: 0;
  height: 70px;
  background: transparent !important;
}
/* line 23, ../scss/_index.scss */
.index-menu-top .index-nav div {
  background: transparent !important;
}
/* line 27, ../scss/_index.scss */
.index-menu-top .index-nav li a {
  text-transform: uppercase !important;
}
/* line 30, ../scss/_index.scss */
.index-menu-top .index-nav li a:hover {
  color: red;
  transition: 500ms;
}
/* line 39, ../scss/_index.scss */
.index-menu-top .container img {
  width: 230px;
  height: 64px;
}

/*--  slider-zone-*/
/* line 55, ../scss/_index.scss */
.slider-zone {
    /*margin-top:-65px;
    height: 60% !important;

    ul{
        height: 500px !important;
    }*/
  background: #000;
}

/*-------bar-zone-----*/
@media only screen and (max-device-width: 888px) {
  /* line 70, ../scss/_index.scss */
  .bar-zone {
    display: none;
  }
}
/* line 76, ../scss/_index.scss */
.bar-zone {
  margin-top: 0px;
  padding-top: 5px;
  box-shadow: 0 0 12px #790000;
}
/* line 80, ../scss/_index.scss */
.bar-zone .bar-zone-content {
  width: 24.667% !important;
}
/* line 82, ../scss/_index.scss */
.bar-zone .bar-zone-content h1, .bar-zone .bar-zone-content h4 {
  margin: 0;
  display: inline-block;
  float: left;
  color: #fff;
}
/* line 89, ../scss/_index.scss */
.bar-zone .bar-zone-content h4 {
  padding: 10px 0 0 10px;
  font-size: 20px;
}
/* line 94, ../scss/_index.scss */
.bar-zone .bar-zone-content .bar-h4-lastChild {
  padding-top: 23px;
}

/*---  section 1--*/
@media only screen and (max-device-width: 1436px) {
  /* line 106, ../scss/_index.scss */
  .facultes {
    height: 172px !important;
  }
}
@media only screen and (max-device-width: 992px) {
  /* line 115, ../scss/_index.scss */
  .sous-section2 {
    padding-left: 122px !important;
  }
}
@media only screen and (max-device-width: 582px) {
  /* line 123, ../scss/_index.scss */
  .sous-section2 {
    padding-left: 0.75em !important;
  }
}
/* line 131, ../scss/_index.scss */
.index-section1 {
  padding-top: 50px;
}
/* line 135, ../scss/_index.scss */
.index-section1 .index-section1-content .facultes, .index-section1 .index-section2-content .facultes {
  margin: 5px;
  height: 179px;
}
/* line 138, ../scss/_index.scss */
.index-section1 .index-section1-content .facultes a, .index-section1 .index-section2-content .facultes a {
  text-decoration: none;
  color: #666;
  font-weight: 300;
}
/* line 143, ../scss/_index.scss */
.index-section1 .index-section1-content .facultes a:hover, .index-section1 .index-section2-content .facultes a:hover {
  font-weight: 400;
}
/* line 148, ../scss/_index.scss */
.index-section1 .index-section1-content .facultes h5, .index-section1 .index-section2-content .facultes h5 {
  font-size: 18px;
}
/* line 155, ../scss/_index.scss */
.index-section1 .index-section1-content .bts:hover a, .index-section1 .index-section2-content .bts:hover a {
  color: #4fc3f7;
  transition: 500ms;
}
/* line 163, ../scss/_index.scss */
.index-section1 .index-section1-content .licence:hover a, .index-section1 .index-section2-content .licence:hover a {
  color: #81c784;
  transition: 500ms;
}
/* line 171, ../scss/_index.scss */
.index-section1 .index-section1-content .prepa:hover a, .index-section1 .index-section2-content .prepa:hover a {
  color: #b3e5fc;
  transition: 500ms;
}
/* line 179, ../scss/_index.scss */
.index-section1 .index-section1-content .ing:hover a, .index-section1 .index-section2-content .ing:hover a {
  color: #ffff00;
  transition: 500ms;
}
/* line 187, ../scss/_index.scss */
.index-section1 .index-section1-content .master:hover a, .index-section1 .index-section2-content .master:hover a {
  color: red;
  transition: 500ms;
}
/* line 195, ../scss/_index.scss */
.index-section1 .index-section1-content .doc:hover a, .index-section1 .index-section2-content .doc:hover a {
  color: #f4ff81;
  transition: 500ms;
}
/* line 203, ../scss/_index.scss */
.index-section1 .index-section1-content h4, .index-section1 .index-section2-content h4 {
  padding-top: 30px;
  color: #666;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
/* line 211, ../scss/_index.scss */
.index-section1 .index-section1-content h5, .index-section1 .index-section2-content h5 {
  color: #666;
  font-weight: 400;
}
/* line 216, ../scss/_index.scss */
.index-section1 .index-section1-content p, .index-section1 .index-section2-content p {
  text-align: justify;
  color: #666;
  font-weight: 300;
}
/* line 226, ../scss/_index.scss */
.index-section1 .index-section2-content p {
  padding-left: 30px;
  text-align: left;
  font-weight: 300;
}

/*---info----*/
/* line 238, ../scss/_index.scss */
.index-info {
  padding-top: 50px;
}

/* line 242, ../scss/_index.scss */
#info {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 101px;
}
/* line 247, ../scss/_index.scss */
#info .info-content {
  width: 1000px;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 255, ../scss/_index.scss */
#info .info-content h3 {
  font-size: 26px;
  text-align: center;
  margin: 5px;
}
/* line 263, ../scss/_index.scss */
#info .ensemble {
  width: 867px;
  height: 50px;
  margin: 0px auto;
}
/* line 269, ../scss/_index.scss */
#info .info-content-slide {
  margin: 0px 50px 0 50px;
  height: 50px;
  width: 727px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
/* line 278, ../scss/_index.scss */
#info .info-content-slide ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 284, ../scss/_index.scss */
#info .info-content-slide li {
  line-height: 50px;
  font-size: 15px;
  text-align: center;
}
/* line 289, ../scss/_index.scss */
#info .info-content-slide li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
/* line 298, ../scss/_index.scss */
#info .info-bloc {
  width: 67px;
  height: 50px;
}
/* line 302, ../scss/_index.scss */
#info .info-bloc img {
  width: 70px;
  height: 51px;
}
/* line 308, ../scss/_index.scss */
#info .info-div {
  float: left;
}

/*----------resultat---------*/
@media only screen and (max-device-width: 1218px) {
  /* line 319, ../scss/_index.scss */
  .index-resultat h3:after {
    width: 50% !important;
    left: 25% !important;
  }
}
/* line 330, ../scss/_index.scss */
.index-resultat {
  padding-top: 30px;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
/* line 340, ../scss/_index.scss */
.index-resultat h3, .index-resultat p {
  text-align: center;
  font-weight: 300;
}
/* line 345, ../scss/_index.scss */
.index-resultat h3 {
  position: relative;
}
/* line 349, ../scss/_index.scss */
.index-resultat h3:after {
  content: '';
  margin-top: 15px;
  border: solid 1px red;
  background: red;
  display: block;
  height: 2px;
  width: 200px;
  position: absolute;
  left: 41%;
}
/* line 361, ../scss/_index.scss */
.index-resultat p {
  padding-top: 30px;
}
/* line 365, ../scss/_index.scss */
.index-resultat .res-panel {
  padding: 0;
  margin-top: 20px;
  background: #fff;
}
/* line 371, ../scss/_index.scss */
.index-resultat .res-panel h4, .index-resultat .res-panel h5, .index-resultat .res-panel p, .index-resultat .res-panel a {
  margin: 0;
  text-align: center;
  font-weight: 300;
}
/* line 377, ../scss/_index.scss */
.index-resultat .res-panel h4 {
  padding: 10px 0;
  background: #eeeeee;
}
/* line 382, ../scss/_index.scss */
.index-resultat .res-panel h5 {
  background: #212121;
  color: #fff;
  font-size: 80px;
  height: 120px;
  line-height: 120px;
}
/* line 390, ../scss/_index.scss */
.index-resultat .res-panel p {
  padding: 0;
  line-height: 67px;
}
/* line 396, ../scss/_index.scss */
.index-resultat .res-panel a {
  display: block;
  width: 50%;
  margin: 0 auto 8px auto;
}

/*---------fel-----------*/
@media only screen and (max-device-width: 1218px) {
  /* line 409, ../scss/_index.scss */
  .index-fel h3 {
    font-size: 25px;
  }
  /* line 413, ../scss/_index.scss */
  .index-fel h2 {
    font-size: 30px;
  }
}
/* line 420, ../scss/_index.scss */
.index-fel {
  padding-top: 50px;
}
/* line 422, ../scss/_index.scss */
.index-fel .parallax-container {
  height: 400px;
}
/* line 426, ../scss/_index.scss */
.index-fel h3 {
  margin-top: 10px;
  color: red;
  text-transform: uppercase;
}
/* line 432, ../scss/_index.scss */
.index-fel .logo {
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  width: 150px;
}
/* line 439, ../scss/_index.scss */
.index-fel h2 {
  text-align: center;
  color: #9e9e9e;
  text-transform: uppercase;
}

/*---------preinscription panel---------*/
@media only screen and (max-device-width: 995px) {
  /* line 451, ../scss/_index.scss */
  .pre-panel {
    height: auto !important;
  }
  /* line 454, ../scss/_index.scss */
  .pre-panel .pre-panel-content {
    padding-top: 0 !important;
  }
}
/* line 463, ../scss/_index.scss */
.index-pre .pre-panel {
  border: solid 1px #efefef;
  border-left: solid 15px red;
  height: 180px;
}
/* line 468, ../scss/_index.scss */
.index-pre .pre-panel h5, .index-pre .pre-panel p, .index-pre .pre-panel a {
  font-weight: 300;
}
/* line 472, ../scss/_index.scss */
.index-pre .pre-panel .pre-panel-content {
  padding: 10px;
}
/* line 474, ../scss/_index.scss */
.index-pre .pre-panel .pre-panel-content a {
  float: right;
}
/* line 479, ../scss/_index.scss */
.index-pre .pre-panel .c1 {
  padding-top: 31px;
}
/* line 483, ../scss/_index.scss */
.index-pre .pre-panel .c2 {
  padding-top: 78px;
}

/*------slogant----*/
/* line 492, ../scss/_index.scss */
.index-slogant {
  margin-top: 88px;
  padding-top: 50px;
  height: 500px;
  overflow: hidden;
  background-image: url("../imgs/sl_dg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/* line 501, ../scss/_index.scss */
.index-slogant .sl-left {
  padding-top: 82px;
}
/* line 503, ../scss/_index.scss */
.index-slogant .sl-left h1, .index-slogant .sl-left h4 {
  text-align: right;
}
/* line 510, ../scss/_index.scss */
.index-slogant .sl-right img {
  margin-left: -178px;
  height: 500px;
  width: 714px;
}

/*-------section2-----*/
/* line 520, ../scss/_index.scss */
.index-section2 {
  padding-top: 53px;
  height: 180px;
}
/* line 528, ../scss/_index.scss */
.index-section2 .index-section2-items a {
  text-decoration: none;
  color: #616161;
  text-align: center;
}
/* line 533, ../scss/_index.scss */
.index-section2 .index-section2-items a h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 60px;
}
/* line 540, ../scss/_index.scss */
.index-section2 .index-section2-items a span {
  font-size: 43px;
}
/* line 545, ../scss/_index.scss */
.index-section2 .index-section2-items a:hover h5 {
  font-weight: 400;
  color: skyblue;
}

/*-----section3------*/
/* line 558, ../scss/_index.scss */
.index-section3 h4 {
  text-transform: uppercase;
  color: #555555;
  font-weight: 300;
  font-size: 20px;
}
/* line 567, ../scss/_index.scss */
.index-section3 .index-section3-left h6 {
  color: #ff6f00;
}
/* line 575, ../scss/_index.scss */
.index-section3 .index-section3-right .collapsible-header span {
  font-size: 25px;
}

/*------footer------*/
/* line 586, ../scss/_index.scss */
.index-footer p {
  font-weight: 300;
}
/* line 590, ../scss/_index.scss */
.index-footer h5 {
  font-weight: 300;
  font-size: 22px;
}
/* line 595, ../scss/_index.scss */
.index-footer .coordonnee {
  margin: 30px 0;
  border: solid 1px #3e3c3c;
  height: 77px;
}
/* line 599, ../scss/_index.scss */
.index-footer .coordonnee h5 {
  margin-top: -14px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
/* line 606, ../scss/_index.scss */
.index-footer .coordonnee span {
  display: block;
  margin-bottom: 8px;
  padding: 5px;
  padding-left: 7px;
  font-size: 40px;
  text-align: center;
}
/* line 617, ../scss/_index.scss */
.index-footer .carte {
  height: 326px;
  width: 353px;
}
/* line 623, ../scss/_index.scss */
.index-footer .footer-copyright a {
  font-size: 12px;
}

/* line 631, ../scss/_index.scss */
#resultatbts h4 {
  padding-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 637, ../scss/_index.scss */
#resultatbts a {
  margin: 0 auto;
  display: block;
}

/*----head-section----*/
/* line 3, ../scss/_bts.scss */
.head-section {
  margin-top: 22px;
  background-image: url("../imgs/perso4.jpg");
  background-attachment: fixed;
  background-size: cover;
}
/* line 10, ../scss/_bts.scss */
.head-section .head-section-content-left {
  padding-bottom: 10px;
}
/* line 12, ../scss/_bts.scss */
.head-section .head-section-content-left .head-section-items {
  border-left: solid 1px #e4e4e4;
  padding-left: 31px;
}
/* line 14, ../scss/_bts.scss */
.head-section .head-section-content-left .head-section-items:first-child {
  border-left: none;
}
/* line 18, ../scss/_bts.scss */
.head-section .head-section-content-left .head-section-items h5 {
  color: #616161;
}
/* line 20, ../scss/_bts.scss */
.head-section .head-section-content-left .head-section-items h5 span {
  font-size: 14px;
  color: #fafafa;
}
/* line 30, ../scss/_bts.scss */
.head-section .head-section-content-right h5 {
  margin-bottom: -20px;
  text-align: right;
  color: #fff;
}
/* line 34, ../scss/_bts.scss */
.head-section .head-section-content-right h5 span {
  font-size: 18px;
  color: #616161;
}

/*-------fac-section1-----*/
/* line 49, ../scss/_bts.scss */
.fac-section1 .fac-section1-content .fac-section1-item {
  height: 33px;
}
/* line 51, ../scss/_bts.scss */
.fac-section1 .fac-section1-content .fac-section1-item a {
  display: inline-block;
  line-height: 32px;
  color: #616161;
}
/* line 55, ../scss/_bts.scss */
.fac-section1 .fac-section1-content .fac-section1-item a:hover {
  color: #ffd600;
  border-bottom: solid 2px #ffd600;
  transition: 200ms;
}

/*----- section-bts----*/
/* line 68, ../scss/_bts.scss */
.section-bts .container {
  padding-top: 10px;
}
/* line 74, ../scss/_bts.scss */
.section-bts .section-bts-c1 .bts-p {
  margin: 4px auto;
  font-size: 19px;
  font-weight: 400;
}
/* line 80, ../scss/_bts.scss */
.section-bts .section-bts-c1 h5 {
  font-size: 20px;
}
/* line 84, ../scss/_bts.scss */
.section-bts .section-bts-c1 p {
  margin: 4px auto;
  font-weight: 300;
}
/* line 89, ../scss/_bts.scss */
.section-bts .section-bts-c1 li {
  padding-left: 30px;
}

/* line 3, ../scss/_prepa.scss */
.section-prepa .container {
  padding-top: 10px;
}
/* line 9, ../scss/_prepa.scss */
.section-prepa .section-prepa-c1 .prepa-p {
  margin: 4px auto;
  font-size: 19px;
  font-weight: 400;
}
/* line 15, ../scss/_prepa.scss */
.section-prepa .section-prepa-c1 h5 {
  font-size: 20px;
}
/* line 19, ../scss/_prepa.scss */
.section-prepa .section-prepa-c1 p {
  margin: 4px auto;
  font-weight: 300;
}
/* line 24, ../scss/_prepa.scss */
.section-prepa .section-prepa-c1 li {
  padding-left: 30px;
}

/* line 3, ../scss/_licence.scss */
.section-license .container {
  padding-top: 10px;
}
/* line 9, ../scss/_licence.scss */
.section-license .section-license-c1 .license-p {
  margin: 4px auto;
  font-size: 19px;
  font-weight: 400;
}
/* line 15, ../scss/_licence.scss */
.section-license .section-license-c1 h5 {
  font-size: 20px;
}
/* line 19, ../scss/_licence.scss */
.section-license .section-license-c1 p {
  margin: 4px auto;
  font-weight: 300;
}
/* line 24, ../scss/_licence.scss */
.section-license .section-license-c1 li {
  padding-left: 30px;
}

/* line 3, ../scss/_ingenieur.scss */
.section-ingenieur .container {
  padding-top: 10px;
}
/* line 9, ../scss/_ingenieur.scss */
.section-ingenieur .section-ingenieur-c1 .container {
  padding-top: 10px;
}
/* line 13, ../scss/_ingenieur.scss */
.section-ingenieur .section-ingenieur-c1 .ingenieur-p {
  margin: 4px auto;
  font-size: 19px;
  font-weight: 400;
}
/* line 19, ../scss/_ingenieur.scss */
.section-ingenieur .section-ingenieur-c1 h5 {
  font-size: 20px;
}
/* line 23, ../scss/_ingenieur.scss */
.section-ingenieur .section-ingenieur-c1 p {
  margin: 4px auto;
  font-weight: 300;
}
/* line 28, ../scss/_ingenieur.scss */
.section-ingenieur .section-ingenieur-c1 li {
  padding-left: 30px;
}

/* line 4, ../scss/_pre.scss */
.section-pre * {
  font-weight: 300;
}
/* line 8, ../scss/_pre.scss */
.section-pre .t1 h5 {
  padding-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}
/* line 13, ../scss/_pre.scss */
.section-pre .t1 h5:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 100px;
  height: 1px;
  border: solid 1px red;
}
/* line 23, ../scss/_pre.scss */
.section-pre .t1 h5::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  border: solid 1px #eee;
}
/* line 34, ../scss/_pre.scss */
.section-pre .open {
  top: 20% !important;
}
/* line 38, ../scss/_pre.scss */
.section-pre h5.modalE {
  margin-right: 10px;
  display: block;
  width: 200px;
}
/* line 45, ../scss/_pre.scss */
.section-pre .modalE {
  float: left;
}

/* line 2, ../scss/_about.scss */
.about-top {
  margin-bottom: 0 !important;
}
/* line 5, ../scss/_about.scss */
.about-top nav {
  background: #000 !important;
}
/* line 9, ../scss/_about.scss */
.about-top nav li a {
  text-transform: uppercase;
}
/* line 14, ../scss/_about.scss */
.about-top nav img {
  width: 230px;
  height: 64px;
}

/* line 21, ../scss/_about.scss */
.present-panel {
  margin: 0;
  border-bottom: solid 3px #b71c1c;
}
/* line 25, ../scss/_about.scss */
.present-panel * {
  font-weight: 300;
}
/* line 28, ../scss/_about.scss */
.present-panel .parallax-container {
  height: 300px;
}
/* line 32, ../scss/_about.scss */
.present-panel .parallax-container h1 {
  padding-top: 20px;
}
/* line 36, ../scss/_about.scss */
.present-panel .parallax-container span:first-child {
  color: #fff;
}
/* line 40, ../scss/_about.scss */
.present-panel .parallax-container span:last-child {
  color: #b71c1c;
}
/* line 44, ../scss/_about.scss */
.present-panel .parallax-container p {
  color: #fff;
  font-size: 20px;
}

/* line 55, ../scss/_about.scss */
.presentation * {
  font-weight: 300;
}
/* line 59, ../scss/_about.scss */
.presentation .l1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  border-bottom: solid 1px #e0e0e0;
}
/* line 73, ../scss/_about.scss */
.presentation .titre .tt {
  position: relative;
  padding-bottom: 5px;
}
/* line 76, ../scss/_about.scss */
.presentation .titre .tt:after {
  content: '';
  background: red;
  display: block;
  width: 6%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 3%;
}
/* line 87, ../scss/_about.scss */
.presentation .titre .tt:before {
  content: '';
  background: #bdbdbd;
  display: block;
  width: 50%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 100, ../scss/_about.scss */
.presentation .titre .img1 {
  float: right;
  border: solid 2px #efefef;
}
/* line 107, ../scss/_about.scss */
.presentation .titre .part h5 {
  font-size: 18px;
  color: #e53935;
}
/* line 111, ../scss/_about.scss */
.presentation .titre .part p {
  font-size: 10px;
}
/* line 115, ../scss/_about.scss */
.presentation .titre .part:hover {
  transform: scale(1.5);
  transition: 500ms;
}
/* line 124, ../scss/_about.scss */
.presentation .public .img2 {
  float: right;
  border: solid 2px #efefef;
}
/* line 130, ../scss/_about.scss */
.presentation .public ul span {
  color: #01579b;
  font-size: 20px;
}
/* line 140, ../scss/_about.scss */
.presentation .c1 p {
  color: #000;
  font-size: 18px;
}
/* line 145, ../scss/_about.scss */
.presentation .c1 span {
  font-size: 27px;
}
/* line 151, ../scss/_about.scss */
.presentation .c2 .input-field input[type=text]:focus, .presentation .c2 .input-field input[type=email]:focus, .presentation .c2 .input-field textarea:focus {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* line 156, ../scss/_about.scss */
.presentation .c2 .input-field input[type=text]:focus + label, .presentation .c2 .input-field input[type=email]:focus + label, .presentation .c2 .input-field textarea:focus + label {
  color: red;
}
/* line 162, ../scss/_about.scss */
.presentation .f h5 {
  font-size: 40px;
}
/* line 165, ../scss/_about.scss */
.presentation .f h5 a {
  color: #757575;
}
/* line 171, ../scss/_about.scss */
.presentation .f p {
  color: #9e9e9e;
}

/* line 183, ../scss/_about.scss */
.sl * {
  font-weight: 300;
}
/* line 186, ../scss/_about.scss */
.sl .tt {
  position: relative;
  padding-bottom: 5px;
}
/* line 189, ../scss/_about.scss */
.sl .tt:after {
  content: '';
  background: red;
  display: block;
  width: 10%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 45%;
}
/* line 200, ../scss/_about.scss */
.sl .tt:before {
  content: '';
  background: #bdbdbd;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 1, ../scss/_resultatbts.scss */
.resBtsTitle {
  padding-top: 30px;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 50%, #ededed 51%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
/* line 11, ../scss/_resultatbts.scss */
.resBtsTitle h4 {
  font-weight: 300;
  text-align: center;
}
/* line 16, ../scss/_resultatbts.scss */
.resBtsTitle h1 {
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1130px) {
  /* line 24, ../scss/_resultatbts.scss */
  .resBtsTitle h1 {
    font-size: 34px;
  }
  /* line 28, ../scss/_resultatbts.scss */
  .resBtsTitle h1:after {
    width: 40% !important;
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 470px) {
  /* line 36, ../scss/_resultatbts.scss */
  .resBtsTitle h4 {
    font-size: 14px;
  }
}
/* line 43, ../scss/_resultatbts.scss */
.resBtsTitle h1:after {
  content: '';
  margin-top: 15px;
  border: solid 1px green;
  background: red;
  display: block;
  height: 2px;
  width: 400px;
  position: absolute;
  left: 30%;
}

/* line 57, ../scss/_resultatbts.scss */
.resBtsContent span {
  font-size: 20px;
}
/* line 61, ../scss/_resultatbts.scss */
.resBtsContent .pr {
  font-size: 35px;
  font-weight: 700;
  color: #388e3c;
}
/* line 68, ../scss/_resultatbts.scss */
.resBtsContent .collapsible-header:hover {
  color: #388e3c;
}
