::-moz-selection {
  color: #fff;
  background: #7ec778; }

::selection {
  color: #fff;
  background: #7ec778; }

.h3-special {
  margin-bottom: 0;
  color: #525252;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  display: block;
  width: 100%;
  height: 40px;
  position: relative; }
  .h3-special:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #777;
    width: 100%;
    height: 2px;
    bottom: 2; }
  .h3-special:after {
    content: '';
    position: absolute;
    display: block;
    background-color: #2962ff;
    width: 30%;
    height: 6px;
    bottom: 0;
    left: 5%; }

.b {
  border: solid 1px red; }

.clear {
  clear: both; }

.row {
  margin: 0; }


#owl-demo .item {
  margin: 3px; }

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }
